.LayoutWrapper {
  a {
    cursor: pointer;
  }

margin-top: 3rem;

  .FloatIcon {
    position: fixed;
    right: 8rem;
    bottom: 4rem;
    justify-content: center;

    display: flex;

  //  background-color: black;
//    border-radius: 20px;

    padding: 15px 33px;
    .FloatIconImg {
      width: 3rem;
      position: absolute;
      top: 24px;
      left: -15px;
    }
  }
/*
  .text {
    color: white;
    display: flex;

    margin: auto;
  }

  */
}
