@import "../../../assets/scss/colors.scss";

.carousel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  
  .carousel-image {
    
  }

  .carousel-button {
    position: absolute;
    background-color: $transparent;
    cursor: pointer;
    width: 2rem;
    height: 2.5rem;
    border: none;
    .arrow {
      width: 100%;
      height: 100%;
    }
  }
}
