$primary-color: #00586D;
$secondary-color: #50C9D4;
$acent-color: #FBD288;
$acent-color2: #C5DDE8;
$white: #ffffff;
$black: #000000;
$grey: #ebebeb;
$success:#03610C;
$error: #03610C;
$transparent:#ededed78;