@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$primary-font: "Montserrat", sans-serif;
$secondary-font: "roboto", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
$brand-font: "Orbitron", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
$headline: 'Teko', sans-serif;